<div class="container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="" class="form-label">Nome Completo</label>
        <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="data.nomeCompleto" name="nomeCompleto">
      
        <label for="" class="form-label">Is Married</label>
        <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="data.isMarried" name="isMarried">
      
        <label for="" class="form-label">CPF</label>
        <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="moreInfoModel.cpf" name="cpf">
      
        <label for="" class="form-label">Full Address</label>
        <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="moreInfoModel.fullAddress" name="fullAddress">
      
        <label for="" class="form-label">Identity</label>
        <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="moreInfoModel.identity" name="identity">
      
        <label for="" class="form-label">Is Criminal</label>
        <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="moreInfoModel.isCriminal" name="isCriminal">

        <button class="btn btn-success" (click)="save()">Salvar</button>
      </div>
    </div>
  </div>
</div>